DATABASE_URL=postgresql+psycopg://postgres:postgres@db:5432/appdb
JWT_SECRET=super-tajny-klic-pro-lokalni-vyvoj
JWT_EXPIRE_MINUTES=120
# --- PŘIDANÉ POLE ---
# Pro generování nového klíče spusťte v pythonu: from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())
ENCRYPTION_KEY=NrZeCmjkQxYWtsTEuKRFUZj8TLeivWvnCe4WXyo8Mk4=